# SECRID  PRODUCT COLLECTION COMPARATIVE ANALYSIS


<span style="color: gray; font-size:1em;">January-2020</span>


## Table of Contents
* [Objective](#objective)

* [Section One - Import Data into IDE](#import_data)
    * [Part I - Gathering Data](#gather_data)
    * [Part II - Assessing Data](#assess_data)
    * [Part III - Cleaning Data](#clean_data)
    
* [Section Two - Dataset of Interest](#dataset)

    * [Variable 1 - display name](#display_name)

    * [Variable 2 - type of material](#material)
     * [Vintage Analysis](#vintage)
     * [Original Analysis](#original)
     * [Matte Analysis](#matte)
     * [combined collection dataset](#collectionsdf)
     
    * [Variable 3 - shipping country](#shipping_country)

<a id='objective'></a>
## Objective

SECRID is a business entity based in the Netherlands. It produces, stocks and sells designer wallets, particularly leather based wallets in more than 100 countries all over the world.

The objective of this notebook is to inspect the trend of sales data for the 2015 to 2019 calendar years and compare Vintage, Original and Matte product collections of the top five (5) revenue generating countries.

<a id='#import_data'></a>
## Section One : Import Data into IDE

<a id='gather_data'></a>
## Part I : Gathering Data

In [ ]:
# load required libraries
import numpy as np
import pandas as pd
from pandas import DataFrame
from pandas import read_excel

import zipfile
import xlsxwriter

import seaborn as sns
# Use seaborn style defaults and set the default figure size
sns.set(rc={'figure.figsize':(11, 4)})

import matplotlib.pyplot as plt
%matplotlib inline
import matplotlib.ticker as ticker
from matplotlib import pyplot as plt
from matplotlib import dates as mpl_dates
from pandas.plotting import register_matplotlib_converters
register_matplotlib_converters()
plt.style.use('seaborn')

import six

from datetime import datetime, timedelta

# environment settings:
pd.options.display.float_format = '{:.2f}'.format
pd.set_option('display.max_column',None)
pd.set_option('display.max_rows',None)
pd.set_option('display.max_seq_items',None)
pd.set_option('display.max_colwidth', 500)
pd.set_option('expand_frame_repr', True)

### Load .xlxs files

In [ ]:
#load sales 2015 
df1 = pd.read_excel('SECRID_DATA.xlsx',0) #load first spreadsheet of SECRID DATA.xlxs

**Test**

In [ ]:
df1.head()# preview the first 5 rows

In [ ]:
#load sales 2016 
df2 = pd.read_excel('SECRID_DATA.xlsx',1) #load second spreadsheet of SECRID DATA.xlxs

**Test**

In [ ]:
df2.head()# preview the first 5 rows

In [ ]:
#load sales 2017
df3 = pd.read_excel('SECRID_DATA.xlsx',2)  #load third spreadsheet ofSECRID DATA.xlxs

**Test**

In [ ]:
df3.head()# preview the first 5 rows

In [ ]:
#load sales 2018
df4 = pd.read_excel('SECRID_DATA.xlsx',3)  #load fourth spreadsheet of SECRID DATA.xlxs

**Test**

In [ ]:
df4.head()# preview the first 5 rows

In [ ]:
#load sales 2019
df5 = pd.read_excel('SECRID_DATA.xlsx',4)  #load fifth spreadsheet of SECRID DATA.xlxs

**Test**

In [ ]:
df5.head()# preview the first 5 rows

In [ ]:
#combine df1 - df5  into one complete dataframe 'df'
df = pd.concat([df1, df2, df3, df4, df5])

<a id='assess_data'></a>
## Part II - Assessing  Data

In [ ]:
df.head() #preview first five rows

In [ ]:
df.tail() #preview last five rows

In [ ]:
# Check size of the dataframe 
df.shape

In [ ]:
# list names of columns in dataframe
df.columns

In [ ]:
# View info of the dataframe 
df.info()

In [ ]:
# view some of the core statistics about columns
df.describe(include='all')

In [ ]:
# check the Data types (dtypes) of each column in Dataframe
df.dtypes

In [ ]:
# Total sum of duplicate rows
df.duplicated().sum() # returns a Boolean Series with True value for each duplicated row and sums them

In [ ]:
#return the number of unique elements in each column
print(df.nunique())

In [ ]:
df.count() #returns the number of non-missing values for each column or row

In [ ]:
#Total missing values(NaN) in a DataFrame
df.isnull().sum().sum()

In [ ]:
#Count number of NaN for each column in DataFrame
print(df.isnull().sum())

<a id='issues'></a>
**Quality issues**
 * Rename column names to have clear, descriptive names in small letters according to best practice. Column 'name' can be renamed to 'customer_name' and column 'material' can be renamed to 'type_of_material'
 * Set to columns to appropriate category data type: 'internal_id', 'document_number', 'customer_name', 'customer _category', 'retailer_role', 'shipping_country', 'item', 'display_name', 'pim_category','type_of_material', 
   'pim_colour', 'wsl', 'while_stock_lasts' and 'cardprotector_colour'

<a id='clean_data'></a>
## Part III - Cleaning Data

In [ ]:
# Create copy of original DataFrame
df_copy = df.copy()

In [ ]:
#Fixing messy column names
df_copy.columns = df_copy.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('(', '').str.replace(')', '')

**Test**

In [ ]:
# list names of columns in dataframe
df_copy.columns

In [ ]:
# change column names using rename function
df_copy.rename(columns={                                                 
                         'name':'customer_name',                        
                         'wsl_+':'wsl',
                         'material':'type_of_material' }, 
                 inplace=True)

**Test**

In [ ]:
df_copy.columns #List of column names in df_clean Dataframe

**Define**
<br>Set appropriate data types for fields mentioned in the [Quality issues](#issues)

In [ ]:
# use .astype to change data type of dataframe columns
df_copy = df_copy.astype({"internal_id":'category',"document_number":'category',"shipping_address_1":'category',"shipping_address_2":'category',"shipping_city":'category',"shipping_zip":'category',"shipping_state/province":'category', "customer_name":'category', "customer_category":'category', "retailer_role":'category', "shipping_country":'category', "item":'category',"display_name":'category', "pim_category":'category', "type_of_material":'category', "pim_colour":'category',"wsl":'category', "while_stock_lasts":'category', "cardprotector_colour":'category'})

**Test**

In [ ]:
df_copy.info()

In [ ]:
# view some of the core statistics about columns
df_copy.describe(include='all')

### content structure of sales dataset
The sales data contains 24 columns (variables) and 2,021,470 rows (entries). 
This is evidence that 2,021,470 sale transactions were completed in the January 2015 â€“ July 2019 period for SECRID business. The dataset contained features about:

* Products for sale: item, display_name, pim_category, pim_colour, type_of_material and cardprotector_colour
* The country the item was shipped to : shipping_country  
* Customer data:  customer_name, customer_category and retailer_role
* Sale transactions: internal_id, document_number, quantity, amount, amount(foreign_currency) and date


### Detected Missing Values
A null value is a value in a field that appears to be blank. A null value is a field with no value. 
The table below indicates the number and  the resulting percentage of missing values per column.This able is manually created with results from running; **df.count()** to get Value Count of non-missing values in a column and 
**print(df.isnull().sum())** which will give the count number of NaN for each column in DataFrame.

| Variable Name  | Value Count| Number Of Missing Values| % Of Missing Values
| -------------  | ------------- |------------- |-------------
| internal_id    | 2,021,470  |0 |0%
| document_number| 2,021,470  |0 |0%
| date           | 2,021,470  |0 |0%
| date_created   | 2,021,470  |0 |0%
| customer_name  | 2,021,470  |0 |0%
| customer_category  | 2,015,375  |6,095     |0.30%
| retailer_role      | 201,788    |1,819,682 |90.02%
| shipping_address_1 | 2,011,883  |9,587     |0.47%
| shipping_address_2 | 367,598    |1,653,872 |81.82%
| shipping_city      | 2,012,657  |8,813 |0.44%
| shipping_zip       | 1,990,236  |31,234|1.55%
| shipping_state/province |395,792 |1,625,678 |80.42%
| shipping_country   |2,014,891   |6,579 |0.33%
| item               | 2,021,470  |0 |0%
| display_name       | 2,021,470  |0 |0%
| quantity           | 2,021,470  |0 |0%
| amount             | 2,021,470  |0 |0%
| amount_foreign_currency | 2,021,470 |0 |0%
| type_of_material        | 1,941,770 |79,700 |3.94%
| pim_category            | 1,944,252 |77,218 |3.82%
| pim_colour              | 1,933,547 |87,923|4.35%
| wsl_+                   | 2,021,470 |0     |0%
| while_stock_lasts       | 2,021,470 |0     |0%
| cardprotector_colour    | 1,877,516 |143,954 |7.12%

<a id='dataset'></a>
## DATASET OF INTEREST

In order to meet the objective, we shall extract the transactions of interest. These are transactions where the quantity is positive (>0) and the amount is positive (>0). This implies that item(s) were sold and revenue was generated for the business.  

We shall further filter and create datasets where Vintage, Original and Matte items were sold. This dataset will be  filtered further to include only the top five(5) revenue generating shipping countries.

In [ ]:
# rows with positive values in Quantity column and Amount column
# df_clean consits of transactions that bring in revenue
df_clean = df_copy[(df_copy.amount>0) & (df_copy.quantity>0)]

In [ ]:
#create new column 'year' that registered year sale transaction was held(helps with analysis)
df_clean['year'] = df_clean.date.dt.year

**Test**

In [ ]:
df_clean.head() #preview five first rows

<a id='display_name'></a>
## VARIABLE : display_name

We shall asses this variable because it gives a detailed chracteristic of item such as the 'pim_category', 'type_of_material' and 'colour'.

In [ ]:
df_clean.display_name.describe() #overview of variable; count, unique, top,freq

In [ ]:
#list all display_name categories
print(df_clean.display_name.cat.categories) # Get list of categories in categorical variable

In [ ]:
df_clean.display_name.value_counts() #count per category

In [ ]:
#number of missing values in display_name column
print(df_clean.display_name.isnull().sum())

<a id='material'></a>
## VARIABLE : type_of_material

This variable is of interest as it is where we shall access the type of material e.g vintage, original or matte

In [ ]:
df_clean.type_of_material.describe() #overview of variable; count, unique, top,freq

In [ ]:
#Types of material used in production
print (df_clean.type_of_material.cat.categories) # Get list of categories in categorical variable

In [ ]:
df_clean.type_of_material.value_counts() #count per sale transactions

In [ ]:
# the number of missing values in type of material column
print(df_clean.type_of_material.isnull().sum())

### Findings
This column indicates the type of material used in creating the product.
The business uses 29 unique types of material. This column has 75,661 missing values after filtering 'positive' sale transactions.**Vintage** category has the highest frequency of 'positive'/revenue generating sale transactions at 549,615.

 <a id='vintage'></a>
### VINTAGE PRODUCT ANALYSIS

vintage consits of the follwing display items;
      
       'Miniwallet Vintage Black', 'Miniwallet Vintage Blue',
       'Miniwallet Vintage Brown', 'Miniwallet Vintage Chocolate',
       'Miniwallet Vintage Cognac', 'Miniwallet Vintage Cognac-Rust',
       'Miniwallet Vintage Concrete', 'Miniwallet Vintage Grey',
       'Miniwallet Vintage Grey-Black', 'Miniwallet Vintage Ochre',
       'Miniwallet Vintage Olive-Black', 'Miniwallet Vintage Rose'
       
       'Slimwallet Vintage Black', 'Slimwallet Vintage Blue',
       'Slimwallet Vintage Blue Silver', 'Slimwallet Vintage Brown',
       'Slimwallet Vintage Chocolate', 'Slimwallet Vintage Cognac',
       'Slimwallet Vintage Cognac-Rust', 'Slimwallet Vintage Grey-Black',
       'Slimwallet Vintage Ochre', 'Slimwallet Vintage Olive-Black'
       
       'Twinwallet Vintage Black', 'Twinwallet Vintage Blue',
       'Twinwallet Vintage Brown', 'Twinwallet Vintage Chocolate',
       'Twinwallet Vintage Cognac', 'Twinwallet Vintage Ochre'
       
       'PromoSales Miniwallet Vintage Cognac-Rust'

In [ ]:
# filter to only type of material of interest ('Vintage')
# after manually assesing the dataframe incompletevintagedf, we find it is missing 'Slimwallet Vintage Blue Silver' and 'Twinwallet Vintage Blue
incompletevintagedf =df_clean[(df_clean.type_of_material == 'Vintage')]

In [ ]:
# we create a dataframe with the missing display items
# these missing items were in the rows with missing values in 'type_of_material' column
missing_vintage = df_clean[(df_clean.display_name == 'Slimwallet Vintage Blue Silver') | (df_clean.display_name == 'Twinwallet Vintage Blue')]

**Test**

In [ ]:
missing_vintage.head() # preview first 5 rows

In [ ]:
#combine incompletevintagedf and missingvintage into one complete dataframe 'vintagedf'
vintagedf = pd.concat([missing_vintage, incompletevintagedf])

In [ ]:
#this new column will help us uniquely identify vintage dataframe of data once it is combined with the original and matte dataframes
#insert new column with value 'vint'
vintagedf['collection']='vint'

**Test**

In [ ]:
vintagedf.head() #preview first 5 rows

In [ ]:
#Total quantity of items sold and corresponding revenue generated per 'vintage' item.
vintage_items= vintagedf.groupby(
   ['display_name']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

vintage_items.sort_values(by=['amount'], inplace=True, ascending=False)

In [ ]:
# we discover this dataset includes display items that are NOT vintage
vintage_items #includes 'Perforated' and 'Veg' items

In [ ]:
# delete all rows with display_name ' Perforated' and 'Veg'
vintagedf = vintagedf[~vintagedf.display_name.str.contains('Perforated')]
vintagedf = vintagedf[~vintagedf.display_name.str.contains('Veg')]

**Test**

In [ ]:
#Total quantity of items sold and corresponding revenue generated per 'vintage' item.
vintage_items= vintagedf.groupby(
   ['display_name']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

vintage_items.sort_values(by=['amount'], inplace=True, ascending=False)

In [ ]:
# we observe that the non-vintage items have been removed
vintage_items

In [ ]:
# Group the data frame by year and extract a number of stats per year
vintage_revenuerank = vintagedf.groupby(
   ['year']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

vintage_revenuerank.sort_values(by=['year'], inplace=True, ascending=True)

In [ ]:
vintage_revenuerank

#### Vintage Pivot Table

In [ ]:
#  PIVOT TABLE
vintage_table = pd.pivot_table(vintagedf, index="display_name",columns='year',
                              values =["amount","quantity"],aggfunc=sum, margins=True)

#sort the pivot table
vintage_table.sort_values(by=('amount','All'), ascending=False, inplace= True)

In [ ]:
vintage_table

In [ ]:
#fix column names
vintage_table.columns =[s1 + '_' + str(s2) for (s1,s2) in vintage_table.columns.tolist()]

In [ ]:
#proposed column order
columnsTitles = ['quantity_2015','amount_2015','quantity_2016','amount_2016','quantity_2017','amount_2017','quantity_2018','amount_2018','quantity_2019','amount_2019','quantity_All','amount_All']

In [ ]:
#re-arrange column indexes(order) based on above columnsTitles
vintage_table = vintage_table.reindex(columns=columnsTitles)

In [ ]:
#drop first row
vintage_table = vintage_table.drop(vintage_table.index[0])

In [ ]:
vintage_table

### Vintage dataframe second approach
This is asecond approach to creating the vintage dataframe by using the dispaly_names.We observe that the both approaches result to the same dataframe.Any approach can therefore be used.

In [ ]:
#miniwallet vintage dataframe
miniwalletvintage = df_clean[(df_clean.display_name == 'Miniwallet Vintage Black') 
                             | (df_clean.display_name == 'Miniwallet Vintage Blue') 
                             | (df_clean.display_name == 'Miniwallet Vintage Brown')
                             | (df_clean.display_name ==  'Miniwallet Vintage Chocolate')
                             | (df_clean.display_name == 'Miniwallet Vintage Cognac')
                             | (df_clean.display_name == 'Miniwallet Vintage Cognac-Rust')
                             | (df_clean.display_name == 'Miniwallet Vintage Concrete')
                             | (df_clean.display_name == 'Miniwallet Vintage Grey')
                             | (df_clean.display_name == 'Miniwallet Vintage Grey-Black')
                             | (df_clean.display_name == 'Miniwallet Vintage Ochre')
                             | (df_clean.display_name == 'Miniwallet Vintage Olive-Black')
                             | (df_clean.display_name == 'Miniwallet Vintage Rose')
                             | (df_clean.display_name == 'PromoSales Miniwallet Vintage Cognac-Rust')]

In [ ]:
miniwalletvintage.head()#preview the first five rows

In [ ]:
#slimwallet vintage dataframe
slimwalletvintage = df_clean[(df_clean.display_name == 'Slimwallet Vintage Black') 
                             | (df_clean.display_name == 'Slimwallet Vintage Blue') 
                             | (df_clean.display_name == 'Slimwallet Vintage Blue Silver')
                             | (df_clean.display_name ==  'Slimwallet Vintage Chocolate')
                             | (df_clean.display_name == 'Slimwallet Vintage Cognac')
                             | (df_clean.display_name == 'Slimwallet Vintage Cognac-Rust')                            
                             | (df_clean.display_name == 'Slimwallet Vintage Grey-Black')
                             | (df_clean.display_name == 'Slimwallet Vintage Ochre')
                             | (df_clean.display_name == 'Slimwallet Vintage Olive-Black')
                             | (df_clean.display_name == 'Slimwallet Vintage Brown')]

In [ ]:
slimwalletvintage.head()#preview the first 5 rows

In [ ]:
#Twinwallet vintage dataframe
twinwalletvintage = df_clean[(df_clean.display_name == 'Twinwallet Vintage Black') 
                             | (df_clean.display_name == 'Twinwallet Vintage Blue') 
                             | (df_clean.display_name == 'Twinwallet Vintage Brown')
                             | (df_clean.display_name ==  'Twinwallet Vintage Chocolate')
                             | (df_clean.display_name == 'Twinwallet Vintage Cognac')
                             | (df_clean.display_name == 'Twinwallet Vintage Ochre')]

In [ ]:
twinwalletvintage.head()

In [ ]:
#combine the miniwallet,twinwallet and slimwallet vintage dataframe
vintagedf2 = pd.concat([miniwalletvintage, slimwalletvintage, twinwalletvintage])

In [ ]:
#this new column will help us uniquely identify vintage dataframe of data once it is combined with the original and matte dataframes
#insert new column with value 'vint'
vintagedf2['collection']='vint'

**Test**

In [ ]:
vintagedf2.head()

In [ ]:
# Group the data frame by year and extract a number of stats per year
vintage_rank = vintagedf2.groupby(
   ['year']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

vintage_rank.sort_values(by=['year'], inplace=True, ascending=True)

In [ ]:
#lists the total revenue amount and total items sold per year for vintage collection items.
vintage_rank

#### Vintagedf2 Pivot Table

In [ ]:
#  PIVOT TABLE
vintagedf2_table = pd.pivot_table(vintagedf2, index="display_name",columns='year',
                              values =["amount","quantity"],aggfunc=sum, margins=True)

#sort the pivot table
vintagedf2_table.sort_values(by=('amount','All'), ascending=False, inplace= True)

In [ ]:
vintagedf2_table

In [ ]:
#fix column names
vintagedf2_table.columns =[s1 + '_' + str(s2) for (s1,s2) in vintagedf2_table.columns.tolist()]

In [ ]:
#proposed column order
columnsTitles = ['quantity_2015','amount_2015','quantity_2016','amount_2016','quantity_2017','amount_2017','quantity_2018','amount_2018','quantity_2019','amount_2019','quantity_All','amount_All']

In [ ]:
#re-arrange column indexes(order) based on above columnsTitles
vintagedf2_table = vintagedf2_table.reindex(columns=columnsTitles)

In [ ]:
#drop first row
vintagedf2_table = vintagedf2_table.drop(vintagedf2_table.index[0])

In [ ]:
vintagedf2_table

In [ ]:
#export to csv
vintagedf2.to_csv('vintagedataframe.csv', index = None, header=True)

 <a id='original'></a>
 ### ORIGINAL PRODUCT ANALYSIS
 Original collection consists of the following display items;
 
       'Miniwallet Original Black',
       'Miniwallet Original Black Exclusive',
       'Miniwallet Original Black Red Exclusive',
       'Miniwallet Original Bordeaux', 'Miniwallet Original Cognac-Brown',
       'Miniwallet Original Cognac-Rust', 'Miniwallet Original Dark Brown',
       'Miniwallet Original Emerald', 'Miniwallet Original Fuchsia',
       'Miniwallet Original Green', 'Miniwallet Original Indigo',
       'Miniwallet Original Natural', 'Miniwallet Original Navy',
       'Miniwallet Original Navy-Blue', 'Miniwallet Original Red Lipstick',
       'Miniwallet Original Red-Red', 
       
       'Slimwallet Original Black', 'Slimwallet Original Bordeaux',
       'Slimwallet Original Cognac-Brown', 'Slimwallet Original Green',
       'Slimwallet Original Navy',
 
       'Twinwallet Original Black', 'Twinwallet Original Black Exclusive',
       'Twinwallet Original Cognac-Brown', 'Twinwallet Original Fuchsia',
       'Twinwallet Original Green', 'Twinwallet Original Red Lipstick',
       'Twinwallet Original Red-Red',
       
        'Limited Miniwallet Original Black/Red

In [ ]:
# filter to only type of material of interest ('Original')
#This dataset contains items that are not 'original'.THese non original items are; 'Slimwallet Black Red Exclusive','Slimwallet Black Exclusive'and'Miniwallet Royal Blue Orange'
# The dataset is missing some original display items.These missing dispaly items are;
#'Limited Miniwallet Original Black/Red','Miniwallet Original Red Lipstick', 'Miniwallet Original Natural'
#'Miniwallet Original Indigo'and 'Miniwallet Original Cognac-Rust'

incompleteoriginaldf =df_clean[(df_clean.type_of_material == 'Original')]

In [ ]:
# delete all rows with non original dispaly itemms. Delete rows with display_name 'Slimwallet Black Red Exclusive','Slimwallet Black Exclusive' and 'Miniwallet Royal Blue Orange'
incompleteoriginaldf = incompleteoriginaldf[~incompleteoriginaldf.display_name.str.contains('Slimwallet Black Red Exclusive')]
incompleteoriginaldf = incompleteoriginaldf[~incompleteoriginaldf.display_name.str.contains('Slimwallet Black Exclusive')]
incompleteoriginaldf = incompleteoriginaldf[~incompleteoriginaldf.display_name.str.contains('Miniwallet Royal Blue Orange')]

In [ ]:
#create dataframe with the missing display items
#these missing items are'Limited Miniwallet Original Black/Red','Miniwallet Original Red Lipstick', 'Miniwallet Original Natural'
#'Miniwallet Original Indigo','Miniwallet Original Cognac-Rust'
missing_original = df_clean[(df_clean.display_name == 'Limited Miniwallet Original Black/Red') 
                            | (df_clean.display_name == 'Miniwallet Original Red Lipstick')
                            | (df_clean.display_name == 'Miniwallet Original Natural')
                            | (df_clean.display_name == 'Miniwallet Original Indigo')
                            | (df_clean.display_name == 'Miniwallet Original Cognac-Rust')]

In [ ]:
#combine 'incompleteoriginaldf' and 'missing_original'
originaldf = pd.concat([incompleteoriginaldf, missing_original])

In [ ]:
#this new column will help us uniquely identify original dataframe of data once it is combined with the vintage and matte dataframes
#insert new column with value 'org'
originaldf['collection']='org'

**Test**

In [ ]:
originaldf.head()

In [ ]:
#export to csv
originaldf.to_csv('originaldataframe.csv', index = None, header=True)

In [ ]:
#Total quantity of items sold and corresponding revenue generated per 'original' item.
original_items= originaldf.groupby(
   ['shipping_country']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

original_items.sort_values(by=['amount'], inplace=True, ascending=False)

In [ ]:
original_items # includes 'Slimwallet Black Red Exclusive','Slimwallet Black Exclusive','Miniwallet Royal Blue Orange'

In [ ]:
# Group the data frame by year and extract a number of stats per year
original_rank = originaldf.groupby(
   ['year']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

original_rank.sort_values(by=['year'], inplace=True, ascending=True)

In [ ]:
#lists the total revenue amount and total items sold per year for original collection items.
original_rank

#### Original Pivot Table

In [ ]:
#  PIVOT TABLE
original_table = pd.pivot_table(originaldf, index="display_name",columns='year',
                              values =["amount","quantity"],aggfunc=sum, margins=True)

#sort the pivot table
original_table.sort_values(by=('amount','All'), ascending=False, inplace= True)

In [ ]:
original_table

In [ ]:
#fix column names
original_table.columns =[s1 + '_' + str(s2) for (s1,s2) in original_table.columns.tolist()]

In [ ]:
#proposed column order
columnsTitles = ['quantity_2015','amount_2015','quantity_2016','amount_2016','quantity_2017','amount_2017','quantity_2018','amount_2018','quantity_2019','amount_2019','quantity_All','amount_All']

In [ ]:
#re-arrange column indexes(order) based on above columnsTitles
original_table = original_table.reindex(columns=columnsTitles)

In [ ]:
#drop first row
original_table = original_table.drop(original_table.index[0])

In [ ]:
original_table # print pivot table

 <a id='matte'></a>
 ### MATTE PRODUCT ANALYSIS
 Matte dataframe consists of;
     
       'Miniwallet Matte Black & Red', 'Miniwallet Matte Black & Yellow',
       'Miniwallet Matte Blue', 'Miniwallet Matte Brick-Black',
       'Miniwallet Matte Chalk', 'Miniwallet Matte Green',
       'Miniwallet Matte Green-Black', 'Miniwallet Matte Grey-Black',
       'Miniwallet Matte Lilac-Black', 'Miniwallet Matte Nightblue',
       'Miniwallet Matte Petrol', 'Miniwallet Matte Pink',
       'Miniwallet Matte Purple',       
       
       'Slimwallet Matte Black',
       'Slimwallet Matte Black & Red', 'Slimwallet Matte Black & Yellow',
       'Slimwallet Matte Green', 'Slimwallet Matte Green-Black',
       'Slimwallet Matte Grey-Black', 'Slimwallet Matte Nightblue',
       'Slimwallet Matte Petrol',
       
       'Twinwallet Matte Black', 'Twinwallet Matte Blue',
       'Twinwallet Matte Blue Silver', 'Twinwallet Matte Green',
       'Twinwallet Matte Purple',

In [ ]:
# filter to only type of material of interest ('Matte')
mattedf =df_clean[(df_clean.type_of_material == 'Matte')]

In [ ]:
#this new column will help us uniquely identify matte dataframe of data once it is combined with the vintage and original dataframes
#insert new column with value 'mat'
mattedf['collection']='mat'

In [ ]:
#export to csv
mattedf.to_csv('mattedataframe.csv', index = None, header=True)

**Test**

In [ ]:
mattedf.head()

In [ ]:
#Total quantity of items sold and corresponding revenue generated per 'matte' item.
matte_items= mattedf.groupby(
   ['display_name','shipping_country']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

matte_items.sort_values(by=['amount'], inplace=True, ascending=False)

In [ ]:
matte_items

In [ ]:
# Group the data frame by year and extract a number of stats per year
matte_rank = mattedf.groupby(
   ['year']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

matte_rank.sort_values(by=['year'], inplace=True, ascending=True)

In [ ]:
#lists the total revenue amount and total items sold per year for matte collection items.
matte_rank

#### Matte Pivot Table

In [ ]:
#  PIVOT TABLE
matte_table = pd.pivot_table(mattedf, index="display_name",columns='year',
                              values =["amount","quantity"],aggfunc=sum, margins=True)

#sort the pivot table
matte_table.sort_values(by=('amount','All'), ascending=False, inplace= True)

In [ ]:
matte_table

In [ ]:
#fix column names
matte_table.columns =[s1 + '_' + str(s2) for (s1,s2) in matte_table.columns.tolist()]

In [ ]:
#proposed column order
columnsTitles = ['quantity_2015','amount_2015','quantity_2016','amount_2016','quantity_2017','amount_2017','quantity_2018','amount_2018','quantity_2019','amount_2019','quantity_All','amount_All']

In [ ]:
#re-arrange column indexes(order) based on above columnsTitles
matte_table = matte_table.reindex(columns=columnsTitles)

In [ ]:
#drop first row
matte_table = matte_table.drop(matte_table.index[0])

In [ ]:
matte_table

<a id='collectionsdf'></a>
## COMBINE VINTAGE, ORGINAL AND MATTE DATAFRAMES INTO ONE 'collectionsdf'

### collectionsdf

In [ ]:
#combine vintage original and matte dataframes into one 'collectionsdf' dataframe
collectionsdf = pd.concat([vintagedf, originaldf, mattedf])

**Test**

In [ ]:
collectionsdf.head()#preview first five rows

In [ ]:
collectionsdf.tail()# preview the last five rows

In [ ]:
#export to csv
collectionsdf.to_csv('combined_collections_dataframe.csv', index = None, header=True)

<a id='shipping_country'></a>
## VARIABLE: shipping_country

This column is important as it lists all the countries the items shipped itams to. As previously indicated in the objective, we shall filter the collctions dataset to only the top five revenue generating countries.

In [ ]:
df_clean.shipping_country.describe()#overview of variable; count, unique, top,freq

In [ ]:
# List of countries the business shipped items to
print (df_clean.shipping_country.cat.categories)# Get list of categories in categorical variable

In [ ]:
# Total Sales transactions per country
df_clean.shipping_country.value_counts() #count per category(Transactions per country)

In [ ]:
#print number of missing values in thi column
print(df_clean.shipping_country.isnull().sum())

In [ ]:
#Total quantity of items sold and corresponding revenue generated per country
countryrevenuerank= df_clean.groupby(
   ['shipping_country']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

countryrevenuerank.sort_values(by=['amount'], inplace=True, ascending=False)

In [ ]:
countryrevenuerank


**Findings on shipping country**

    Top 5 revenue generating countries are ; Netherlands,Germany, Spain, France, Switzerland

### COLLECTIONS ANALYSIS FOR THE TOP 5 COUNTRIES

#### COLLECTION ANALYSIS TOP FIVE COMBINED

In [ ]:
#filter to only top five revenue generating countries ('Netherlands', 'Germany', 'Spain', 'France' and 'Switzerland')
topfivecombined_collectionsdf =collectionsdf[(collectionsdf.shipping_country == 'Netherlands')
                                        | (collectionsdf.shipping_country == 'Germany')
                                        | (collectionsdf.shipping_country == 'Spain')
                                        | (collectionsdf.shipping_country == 'France')
                                        | (collectionsdf.shipping_country == 'Switzerland')]

**Test**

In [ ]:
topfivecombined_collectionsdf.head() # preview the first 5 rows

In [ ]:
topfivecombined_collectionsdf.tail() #preview last 5 rows

In [ ]:
#export to csv
topfivecombined_collectionsdf.to_csv('topfive_combined_collection_dataframe.csv', index = None, header=True)

In [ ]:
#Total quantity of items sold per collection and corresponding revenue generated per country
topfive_revenuerank= topfivecombined_collectionsdf.groupby(
   ['shipping_country']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

topfive_revenuerank.sort_values(by=['amount'], inplace=True, ascending=False)

In [ ]:
topfive_revenuerank.head()

### Comparing Vintage, Original and Matte collections in top 5 countries

In [ ]:
#Total quantity of items sold per collection and corresponding revenue generated per country
topfive_comparison= topfivecombined_collectionsdf.groupby(
   ['collection']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

topfive_comparison.sort_values(by=['amount'], inplace=True, ascending=False)

In [ ]:
topfive_comparison.head()

In [ ]:
# This pivot table details quantity of items sold and revenue per collection per year.
# PIVOT TABLE
topfive_comparison_table = pd.pivot_table(topfivecombined_collectionsdf, index="collection", columns='year',
                              values =["amount","quantity"],aggfunc=sum, margins=True)

#sort the pivot table
topfive_comparison_table.sort_values(by=('amount','All'), ascending=False, inplace= True)

In [ ]:
topfive_comparison_table

In [ ]:
# This pivot table details quantity of items sold and revenue per collection per country per year.
# PIVOT TABLE
topfive_comparisondetailed_table = pd.pivot_table(topfivecombined_collectionsdf, index=["shipping_country","collection"],columns='year',
                              values =["amount","quantity"],aggfunc=sum, margins=True)

#sort the pivot table
topfive_comparisondetailed_table.sort_values(by=('shipping_country'), ascending=False, inplace= True)

In [ ]:
topfive_comparisondetailed_table

### Vintage in top 5 contries combined

In [ ]:
#filter top five sub-set to only vintage collection
topfivecombined_vintagedf = topfivecombined_collectionsdf[(topfivecombined_collectionsdf.collection == 'vint')]

In [ ]:
topfivecombined_vintagedf.describe()

In [ ]:
#second approach(Both approaches are correct)

#filter vintage dataframe to only top five revenue generating countries ('Netherlands', 'Germany', 'Spain', 'France' and 'Switzerland')
topfivecombined_vintagedf2 =vintagedf[(vintagedf.shipping_country == 'Netherlands')
                                        | (vintagedf.shipping_country == 'Germany')
                                        | (vintagedf.shipping_country == 'Spain')
                                        | (vintagedf.shipping_country == 'France')
                                        | (vintagedf.shipping_country == 'Switzerland')]

In [ ]:
topfivecombined_vintagedf2.describe()

In [ ]:
#Total quantity of items sold per year for vintage collection and corresponding revenue generated per top 5 country
topfivecombined_vintagedfrank= topfivecombined_vintagedf.groupby(
   ['year']
).agg(
    {
         'amount':sum,    # Sum revenue per customer
         'quantity': sum  # get the sum of items sold per year
         
    }
)

topfivecombined_vintagedfrank.sort_values(by=['year'], inplace=True, ascending=True)

In [ ]:
topfivecombined_vintagedfrank

#### topfivecombined vintage Pivot Table

In [ ]:
#  PIVOT TABLE
topfivecombinedvintage_table = pd.pivot_table(topfivecombined_vintagedf, index="shipping_country",columns='year',
                              values =["amount","quantity"],aggfunc=sum, margins=True)

#sort the pivot table
topfivecombinedvintage_table.sort_values(by=('amount','All'), ascending=False, inplace= True)

In [ ]:
topfivecombinedvintage_table

In [ ]:
#fix column names
topfivecombinedvintage_table.columns =[s1 + '_' + str(s2) for (s1,s2) in topfivecombinedvintage_table.columns.tolist()]

In [ ]:
#proposed column order
columnsTitles = ['quantity_2015','amount_2015','quantity_2016','amount_2016','quantity_2017','amount_2017','quantity_2018','amount_2018','quantity_2019','amount_2019','quantity_All','amount_All']

In [ ]:
#re-arrange column indexes(order) based on above columnsTitles
topfivecombinedvintage_table = topfivecombinedvintage_table.reindex(columns=columnsTitles)

In [ ]:
#drop first row
topfivecombinedvintage_table = topfivecombinedvintage_table.drop(topfivecombinedvintage_table.index[0])

In [ ]:
topfivecombinedvintage_table